<ion-header [translucent]="true" slot="primary">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <app-session-card></app-session-card>
      <div class="title-container">
        <ion-title class="custom-title">Historial de Transferencias</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let transfer of displayedTransfers">
    <app-transfer-card [transfer]="transfer"></app-transfer-card>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
