<ion-content [fullscreen]="true" class="no-scroll">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Cuentas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="transfer">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <ion-label>Transferir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab-router-outlet></ion-tab-router-outlet>
  </ion-tabs>
</ion-content>
