@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --ion-color-primary: #cf1c1c; /* Rojo primario */
    --ion-color-primary-rgb: 255, 5, 5;
    --ion-color-primary-contrast: #ffffff; /* Contraste para texto sobre fondo primario */
  
    --ion-color-secondary: #ff7373; /* Color secundario */
    --ion-color-secondary-rgb: 255, 115, 115;
  
    --ion-color-background: #333333; /* Fondo oscuro */
    --ion-color-background-rgb: 51, 51, 51;
    --ion-color-background-contrast: #ffffff; /* Contraste para texto sobre fondo oscuro */
  
    --ion-color-text: #ffffff; /* Color del texto */
    --ion-color-text-light: #e0e0e0; /* Texto claro */

    --ion-font-family: 'Roboto', sans-serif;

  }

  ion-toolbar {
    --background: var(--ion-color-toolbar-background);
  }

  /* Estilo para ion-toast */
ion-toast {
  --background: var(--ion-color-background); /* Fondo del toast */
  --color: var(--ion-color-text); /* Color del texto */
  --border-radius: 10px; /* Radio de borde */
  --padding: 16px; /* Espaciado interno */
  --font-family: var(--ion-font-family); /* Fuente */
  --font-size: 14px; /* Tamaño de fuente */
  --max-width: 90vw; /* Ancho máximo */
  --margin: 10px; /* Margen */
}

/* Estilo para el toast de éxito */
ion-toast.success {
  --background: var(--ion-color-primary); /* Fondo para éxito */
  --color: var(--ion-color-primary-contrast); /* Color del texto en éxito */
}

/* Estilo para el toast de error */
ion-toast.error {
  --background: var(--ion-color-secondary); /* Fondo para error */
  --color: var(--ion-color-background); /* Color del texto en error */
}